<div class="row justify-content-md-center ">
  <div class="col-md-4 marg">
    <div class="jumbotron">
      <h3>Register here!</h3>
      <form (ngSubmit)="register(email.value, password.value)">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Username" #email>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
