<div class="row">
  <div class="col-md">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Posts feed</a>
          </li>
        </ul>
        <ng-container *ngIf="dataService.isAuth ;else anonymous">
          <ul class="navbar-nav " #loggedin>
            <li class="nav-item">
              <a class="nav-link" routerLink="/personal-posts">Personal posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Log out</a>
            </li>
          </ul>
        </ng-container>

        <ng-template #anonymous>
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Log in</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>
  </div>
</div>
