<div class="row justify-content-md-center">
  <div class="jumbotron col-md-6 post">
    <h4 class="display-15">{{post.title}}</h4>
    <p class="lead">{{post.body}}.</p>
    <hr class="my-4">
    <div class="row justify-content-md-center">
      <p>Author: {{post.user.username}}
        <ng-container *ngIf="post.ip">
          | Posted from: {{post.ip}}(IP)
        </ng-container>
      </p>
      <ng-container *ngIf="post.ip">
      &nbsp; | &nbsp; <button type="button" class=" btn btn-danger btn-sm" (click)="deletePost(post.id)">
          Delete
        </button>
      </ng-container>
    </div>
  </div>
</div>
